@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:wght@500&display=swap');

@media (prefers-color-scheme: dark) {
  :root {
    --general-color: white;
  }
}

body{
  background-color: var(--general-color);
}

ul {
  list-style: none;
}

small {
  color: white;
}

i {
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}


a:hover {
  color: #bebebe !important;
}

.nav-link {
  color: white;
}

p {
  display: inline-block;
  font-size: 20px;
}


footer {
  background-color: #212529;
}

header {
  background-size: cover;
}



/* -------------------------------------------------------------------------- */
/*                                 Clase FONT                                 */
/* -------------------------------------------------------------------------- */


.font-title {
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 45px;
  letter-spacing: 5px;

}

.font-title-second {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.font-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.font-text-second {
  font-family: 'Open Sans', sans-serif;
}


.navbar-toggler:focus {
  box-shadow: none;
}

.card-contact {
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
}

.img-style {
  width: 90px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
}

.navbar-img {
  border-radius: 10px;
  max-height: 110px;
  height: 440px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  width: 60px;
  top: 90%;
  border-radius: 10px;
  padding: 20px;
  background-color: #212529;
}

.sticky-s {
  position: sticky;
  width: 60px;
  margin-bottom: 2px;
  top: 90%;
  left: 12%;
}

.size {
  width: 100vw;
}

.container-img {
  width: 100%;
  padding-bottom: 1px;
}

.btn-group {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.btn {
  height: 42px;
}

/* -------------------------------------------------------------------------- */
/*                                   Carusel                                  */
/* -------------------------------------------------------------------------- */


.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  transition: transform 2s ease-in-out;

}

.carousel-image {
  width: 33.33%;
  margin: 2px;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 576px) {

  .carousel-image {
    width: 100%;
    object-fit: cover;
  }
}

.adjst {
  width: 100dvw;
}

@media (min-width: 768px) {

  .sticky-s {

    left: 25%;

  }

}

@media only screen and (min-width: 1200px) {

  .adjst {

    width: 65dvw;
  }

}