body {
  padding: 5%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

p {
  display: inline-block;
  font-size: 20px;
  color: white;
}

button {
  display: flex;
  justify-content: center;
}

.nav-link {
  color: white;
}

.logo-img {
  border-radius: 80px;
}

.logo-titlu {
  color: white;
}

.navbar-img {
  border-radius: 10px;
  max-height: 110px;
  height: 440px;
}

.header-mode-button {
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.color {
  background-color: #439A97;
  padding-top: 10px;
  padding-bottom: 10px;
}
 
.phone {
  
  position: sticky;
  top: 88%;
  border-radius: 50%;
  
  padding: 20px;
  background-color: #439A97;
}

.container-img {
  max-width: 100%;
  padding-bottom: 1px;
}

.fa-brands {
  color: #EDEDED;
  font-size: 2em;
}

.fa-solid {
  font-size: 2rem;
  color: #EDEDED;
}

.fa-circle-half-stroke {
  font-size: 1.5em;

}

.fa-solid-fa-kitchen-set {
  font-size: 1.5em;

}

.btn-group {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.btn {
  height: 42px;
}

.photocarusel-images {
  width: 100%;
}

.photocarusel-text {
  font-size: 3rem;
}