body {
  padding: 3% 8% 3% 8%
}

h1 {
  color: white;
}

p {
  display: inline-block;
  font-size: 20px;
  color: white;
}
button{
  display: flex;
  justify-content: center;
}
.bottom {
  margin-bottom: 10px;
  background-color: #439A97;

}

.font {
  font-family: 'Merriweather', serif;
}

.img-navbar {
  border-radius: 80%;
  width: 100px;
  height: 100px;
}

.buton-navbar {
  width: 100px;
  height: 100px;
}

.navbar {
  background-color: #439A97;
}
.navbar-toggler{
  width: 50px;
}

.phone {
  position: -webkit-sticky;
  position: sticky;
  top: 88%;
  border-radius: 50%;
  margin-left: 92%;
  padding: 20px;
  background-color: #439A97;
}

.container-img {
  max-width: 100%;
  padding-bottom: 1px;
}

.bottom-logo {
  display: flex;
  align-items: center;
  text-align: center;
  padding-right: 4px;

}

.img-bottom {
  border-radius: 80%;
  width: 100px;
  height: 100px;
}

.fa-brands {
  color: #EDEDED;
  font-size: 2em;
}
.fa-solid{
  font-size: 2rem;
  color: #EDEDED;
}
.fa-circle-half-stroke {
  font-size:1.5em; 
  
}
.fa-solid-fa-kitchen-set{
  font-size:1.5em; 
  
}

.btn-group {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.btn {
  height: 42px;
}

.photocarusel-images {
  width: 100%;
}

.photocarusel-text {
  font-size: 3rem;
}